.modal-content{
   background-color : #f5f5f5;
}
/*div.lvl1 img{ display: block;float: left;margin-right: 5px;}
div.lvl2 img{ display: block;float: left;margin-right: 5px;}
div.lvl3 img{ display: block;float: left;margin-right: 5px;}
*/
tr { overflow:auto; }  
table { display:block;}
tbody{ display:block;}
.arrange-horizontally > * {
    display: inline-block;
    text-align: center;
}
element.style {
    word-wrap: break-word;
    width: 100%;
}

